#content, #footer {
   margin-left: auto;
   margin-right: auto;
   width: 95%;
}
#footer {
   text-align: center;
}
.filter-form-container {
   display: none;
}
#create-button-container {
   float: right;
}
#filter-button-container {
   float: left;
}

.btn-top {
   margin-top: 25px;
}