#content, #footer {
   margin-left: auto;
   margin-right: auto;
   width: 95%;
}
#footer {
   text-align: center;
}
.filter-form-container {
   display: none;
}
.btn-top {
   margin-top: 25px;
}
.clickable {
   cursor: pointer;
}
.centered{
    float: none;
    margin: 0 auto;
}
.clickable-glyph {
   cursor: pointer;
   margin-top: -18px;
}

.modal-form {
   padding: 30px;
}
.modal-form div {
   background-color: #ffffff;
}
.form-actions {
   height: 60px;
}