{% extends "shared/layout.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-4 centered">
    <h1>Delete {{ object_name }}</h1>
    <p>Are you sure you want to delete {{ object_name }}?</p>
    <form id="confirm-delete-form" method="post">
      {% csrf_token %}
      <div class="pull-left">
        <button type="button" id="btn-delete-no" class="btn btn-primary" onclick="history.back()">No</button>
      </div>
      <div class="pull-right">
        <button type="submit" id="btn-delete-yes" class="btn btn-danger">Yes</a>
      </div>
    </form>
</div>
{% endblock %}
